<nav class="sidebar">
    <ul>
      <li>
        <button (click)="navigateTo('/view-manage-stocks')">
          <i class="fas fa-plus-square"></i> Inventory Management
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/order-tracking')">
          <i class="fas fa-list-alt"></i> Order Tracking
        </button>
      </li> 
      <li>
        <button (click)="navigateTo('/analytics')">
          <i class="fas fa-sign-out-alt"></i> Analytics
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/about')">
          <i class="fas fa-sign-out-alt"></i> About
        </button>
      </li>
      <li>
        <button (click)="navigateTo('/login')">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </li>
    </ul>
  </nav>