.inventory-container {
    width: 82%;
    margin: auto;
    text-align: center;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-elevation-z8 {
    border-radius: 8px;
    overflow: hidden;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    margin: 5px;
  }